---
---

$list: 'article', 'service', 'pixiv', 'youtube', 'other';
.TVOxHpZ9 {
  background: var(--background);
  border: solid 0.1rem var(--background-accent);
  border-radius: 1rem;
  color: var(--color);
  display: block;
  padding: 1rem;
  margin: 0.5rem;
  text-decoration: none;
  @each $category in $list {
    &[category = '#{$category}'] .e {
      @include bbc($category);
    }
  }
}
@mixin bbc($category) {
  @if $category == 'article' {
    border-bottom-color: var(--green);
  } @else if $category == 'article' {
    border-bottom-color: var(--blue);
  } @else if $category == 'pixiv' {
    border-bottom-color: var(--cyan);
  } @else if $category == 'youtube' {
    border-bottom-color: var(--red);
  } @else if $category == 'other' {
    border-bottom-color: var(--gray);
  }
}