---
---

$list: 'article', 'service', 'pixiv', 'youtube', 'other';
.parent {
  background: var(--white);
  @each $category in $list {
    &[category = '#{$category}'] .child {
      border-bottom-color: bbc($category);
    }
  }
}
@function bbc($category) {
  $result: none;
  @if $category == 'article' {
    $result: var(--green);
  } @else if $category == 'article' {
    $result: var(--blue);
  } @else if $category == 'pixiv' {
    $result: var(--cyan);
  } @else if $category == 'youtube' {
    $result: var(--red);
  } @else if $category == 'other' {
    $result: var(--gray);
  }
  @return $result;
}
