---
---

@function test($color) {
  $result: transparent;
  @if $color == 'red' {
    $result: var(--red);
  } @else if $color == 'green' {
    $result: var(--green);
  } @else if $color == 'blue' {
    $result: var(--blue);
  }
  @return $result;
}
$list: 'red', 'green', 'blue';
.parent {
  @each $color in $list {
    &[color = '#{$color}'] .child {
      background: test('#{$color}');
    }
  }
}
/*
@mixin bbc($category) {
  @if $category == 'article' {
    border-bottom-color: var(--green);
  } @else if $category == 'article' {
    border-bottom-color: var(--blue);
  } @else if $category == 'pixiv' {
    border-bottom-color: var(--cyan);
  } @else if $category == 'youtube' {
    border-bottom-color: var(--red);
  } @else if $category == 'other' {
    border-bottom-color: var(--gray);
  }
}

$list: 'article', 'service', 'pixiv', 'youtube', 'other';

.parent {
  @each $category in $list {
    &[category = '#{$category}'] .child {
      @include bbc('#{$category}');
    }
  }
}
*/
